/* AdminDashboard.css */

#app-container {
  display: flex;
  height: 100vh; /
}

#sidebar {
  width: 250px; /* Adjust as needed */
  background: #343a40; /* Dark background color for sidebar */
  color: #fff; /* Text color in sidebar */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-brand {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ffffff; /* Adjust brand text color */
}

.sidebar-nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: #adb5bd; /* Light text color */
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover/active */
}

.nav-link:hover {
  background-color: #495057; /* Background color on hover */
  color: #ffffff; /* Text color on hover */
}

.nav-link.active {
  background-color: #007bff; /* Background color for active link */
  color: #ffffff; /* Text color for active link */
}

#main-content {
  flex: 1;
  padding: 20px;
  background: #f8f9fa; /* Light background color for main content */
}
